<!DOCTYPE html>
<html>

<head>
    <title>Foundation Plan</title>
</head>

<body>
    <h1>Foundation Plan</h1>
    <form method="POST">
        <label for="height">Radius of the circle : </label>
      <input type="number" name="radius_circle" id="radius_circle" required><br><br>
      <label for="diameter">Thickness of the circle :</label>
      <input type="number" name="thickness" id="thickness" required><br><br>
      <label for="diameter">No. of the rods:</label>
      <input type="number" name="no_of_rods" id="no_of_rods" required><br><br>
      <label for="diameter">Radius of the rods:</label>
      <input type="number" name="radius_rods" id="radius_rods" required><br><br>

        <input type="submit" value="Update">
    </form>
</body>

</html>